{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid page-header d-flex align-items-end px-4 pb-3">
    <div class="row">
        <div class="col-12 text-start">
            <h1>{{ user.username }}'s Profile</h1>
        </div>
    </div>
</div>

<div class="profile-container container-fluid mt-5 px-md-5 px-1 fade-in-element"> 
    <div class="row mb-5">
        <div class="col-12 text-center">
            <p><i class="fa-solid fa-star ms-1"></i> Please leave a product rating by going to your specific order number link <i class="fa-solid fa-star ms-1"></i></p>
        </div>
    </div>

    <div class="row align-items-start fade-in-element">

        <!-- Order History Section -->
        <div class="col-12 col-md-6 order-1 order-md-2 px-3 mb-4 mb-md-0 order-history">
            <div class="card p-3">
                <h3 class="mb-3 text-center">Order History</h3>

                <div class="d-flex justify-content-between my-2 border-top pt-2 table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li>
                                                    {% if item.volume %}
                                                        {{ item.product.name }} | <span>{{ item.volume }}</span> x{{ item.quantity }}
                                                    {% else %}
                                                        {{ item.product.name }} x{{ item.quantity }}
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            {% if not forloop.last %}
                                <hr class="my-2">
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Default Delivery Info Section -->
        <div class="col-12 col-md-6 order-2 order-md-1 px-3 default-delivery-details">
            <p >Your Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn">Update Information</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{% endblock %}