{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid page-header d-flex align-items-end px-4 pb-3">
    <div class="row">
        <div class="col-12 text-start">
            <h1>Skål!</h1>
        </div>
    </div>
</div>

<div class="checkout-container container-fluid mt-5 px-md-5 px-1"> 
    <div class="row align-items-start g-4">

        <!-- Order Summary Section -->
        <div class="col-12 col-md-4 order-1 order-md-2 px-3 mb-4 mb-md-0 totals-summary">
            <div class="card p-3">
                <h3 class="mb-3 text-center">Order Summary</h3>

                {% for item in order.lineitems.all %}
                    <div class="d-flex justify-content-between mb-2">
                        <p class="mb-0"><a href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a> {% if item.product_volume %}| {{ item.product_volume }}{% endif %}</p>
                        <p class="mb-0">Qty: {{ item.quantity }}</p>
                        <p class="mb-0 checkout-total">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </div>

                    {% if request.user.is_authenticated %}
                        {% for review in item.product.reviews.all %}
                            {% if review.user == request.user %}
                                <span class="badge">Rated:<strong class="ms-2">{{ review.rating }}<i class="fa-solid fa-star ms-1"></i></strong></span>
                            {% endif %}
                        {% endfor %}

                        {% if item.product.id not in user_reviewed_products_ids %}
                            <form action="{% url 'add_review' item.product.id %}" method="POST" class="d-flex align-items-center gap-2">
                                {% csrf_token %}
                                <select name="rating" class="form-select form-select-sm w-auto" required>
                                  <option value="" disabled selected>Rate product...</option>
                                  <option value="5">★★★★★ (5/5)</option>
                                  <option value="4">★★★★☆ (4/5)</option>
                                  <option value="3">★★★☆☆ (3/5)</option>
                                  <option value="2">★★☆☆☆ (2/5)</option>
                                  <option value="1">★☆☆☆☆ (1/5)</option>
                                </select>
                                <button type="submit" class="btn btn-sm btn-outline-dark">Submit</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <div class="d-flex justify-content-between my-2 border-top pt-2">
                    <p class="mb-0">Subtotal:</p>
                    <p class="mb-0 checkout-total">£{{ order.order_total | floatformat:2 }}</p>
                </div>

                <div class="d-flex justify-content-between my-2 pt-2">
                    <p class="mb-0">Delivery:</p>
                    <p class="mb-0 checkout-total">£{{ order.delivery_cost | floatformat:2 }}</p>
                </div>

                <div class="d-flex justify-content-between my-2 border-top pt-2">
                    <p class="mb-0"><strong>Total:</strong></p>
                    <p class="mb-0 checkout-total">£{{ order.grand_total | floatformat:2 }}</p>
                </div>
            </div>
        </div>

        <!-- Order Info Section -->
        <div class="col-12 col-md-8 order-2 order-md-1 px-3 delivery-details">
            <div>
                <p>Thank you for your order! A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>

            <div>
                <p>A taste well worth sharing? Leave a quick rating for the items in your order summary—your feedback helps keep the mead flowing!</p>
            </div>

            <div class="mb-4">
                <p class="mb-3">Order Info:</p>
                <ul class="list-unstyled">
                    <li><strong>Order Number:</strong> {{ order.order_number }}</li>
                    <li><strong>Date:</strong> {{ order.date }}</li>
                    <li><strong>Full Name:</strong> {{ order.full_name }}</li>
                    <li><strong>Phone Number:</strong> {{ order.phone_number }}</li>
                    <li><strong>Address 1:</strong> {{ order.address_1 }}</li>
                    {% if order.address_2 %}
                        <li><strong>Address 2:</strong> {{ order.address_2 }}</li>
                    {% endif %}
                    <li><strong>Town/City:</strong> {{ order.town_or_city }}</li>
                    {% if order.county %}
                        <li><strong>County:</strong> {{ order.county }}</li>
                    {% endif %}
                    <li><strong>Postcode:</strong> {{ order.postcode }}</li>
                    <li><strong>Country:</strong> {{ order.country.name }}</li>   
                </ul>  
            </div>

            {% if from_profile %}
                <div class="my-3">
                    <a href="{% url 'profile' %}" class="btn">Return to Profile</a>
                </div>
            {% endif %}

            <div class="mt-4 pt-3 border-top">
                <span>Do you have any of your own ideas for mead flavours?</span><a href="{% url 'sandbox' %}">Submit them here!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}