{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'flavour_sandbox/css/flavour_sandbox.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid page-header d-flex align-items-end px-4 pb-3">
    <div class="row">
        <div class="col-12 text-start">
            <h1>The Flavour Sandbox</h1>
            <hr>
            <h2>Submit your ideas. Inspire the craft. Vote for the exceptional.</h2>
        </div>
    </div>
</div>

<div class="container sandbox-ideas-container">

    <!-- Sort function -->
    <div class="row sorting-wrapper mt-3 mb-2">
        <div class="col-md-8 justify-content-start">
            <div class="dropdown sort-select-wrapper w-50">
                <button class="btn dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>
                        {% if current_sorting == 'likes_desc' %}Most Liked
                        {% elif current_sorting == 'created_on_desc' %}Newest First
                        {% elif current_sorting == 'created_on_asc' %}Oldest First
                        {% else %}Sort by...{% endif %}
                    </span>
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="sortDropdown">
                    <li>
                        <a class="dropdown-item {% if current_sorting == 'None_None' %}active{% endif %}" 
                           href="?">
                           Sort by...
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if current_sorting == 'likes_desc' %}active{% endif %}" 
                           href="?sort=likes&direction=desc">
                           Most Liked
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if current_sorting == 'created_on_desc' %}active{% endif %}" 
                           href="?sort=created_on&direction=desc">
                           Newest First
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if current_sorting == 'created_on_asc' %}active{% endif %}" 
                           href="?sort=created_on&direction=asc">
                           Oldest First
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sandbox Idea cards -->
    <div class="row" id="sandboxRow">
        {% for idea in sandbox_list %}
            <div class="col-12 col-md-6 col-lg-3 pb-3 px-3 mt-3">
                <div class="card product-card h-100 px-4 px-md-0">
                    <div class="card-body d-flex flex-column pb-3 pt-2 px-3">
                        <a href="{% url 'idea_detail' idea.id %}" class="text-decoration-none">
                            <div class="d-flex justify-content-between align-items-center my-2 pb-3">
                                <h5 class="card-title mb-0 flex-grow-1 text-center pe-2">{{ idea.title }}</h5>
                            </div>
                            <div class="d-flex justify-content-between align-items-start my-2">
                                <p class="mb-0 text-end">{{ idea.mead_type }}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-start my-3">
                                    <p id="ideaIngredients">{{ idea.ingredients|join:", " }}</p>
                            </div>
                        </a>
                            
                        <div class="d-flex justify-content-between align-items-center mt-auto pt-2">
                            <div class="text-start">
                                <p class="mb-0 card-date">{{ idea.created_on|date:"d M, Y" }}</p>
                            </div>

                            <div class="text-end">
                                <form action="{% url 'like_idea' idea.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn text-decoration-none p-0">
                                        <span class="me-1">{{ idea.likes.count }}</span>
                                        {% if user.is_authenticated and user in idea.likes.all %}
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        {% else %}
                                            <i class="fa-regular fa-thumbs-up"></i>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-md-none">
                    <hr class="mx-auto">
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-md-block d-lg-none">
                    <hr class="mx-auto">
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-lg-block ">
                    <hr class="mx-auto">
                </div>
            {% endif %}

        {% endfor %}

        {% if is_paginated %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page=1{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="page-link mx-1">&laquo; First</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="page-link mx-1">&laquo; Previous</a></li>
                {% endif %}
                
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="page-link mx-1">Next &raquo;</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="page-link mx-1">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'flavour_sandbox/js/flavour_sandbox.js' %}"></script>    
{% endblock %}