{% load static %}

{% url 'home' as home_url %}
{% url 'products' as products_url %}
{% url 'sandbox' as sandbox_url %}

<!doctype html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        
        <!--Font Awesome-->
        <script src="https://kit.fontawesome.com/13b3abd37d.js" crossorigin="anonymous"></script>

        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
    {% endblock %}

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--Brand Logo-->
    <link rel="icon" href="{% static 'images/brand-logo.png' %}">
    <title>Óðrerir Meadery {% block extra_title %}{% endblock %}</title>

</head>

<body>
    <header>

        <!-- Delivery promotion message -->
        <div class="container-fluid py-2" id="delivery-promo">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 text-center">
                    <h4 class="mb-0">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar-expand-lg navbar-bg {% if request.path == '/' %}homepage-nav{% else %}subpage-nav{% endif %}">
            <div class="container-fluid flex-nowrap align-items-center">
                <div class="row navbar align-items-center flex-nowrap">

                    <!-- Navbar toggler for tablets and mobiles-->
                    <div class="col-3 col-lg order-1 order-lg-2 d-flex justify-content-start justify-content-lg-center">
                        <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    
                    
                        <!-- Collapsible content -->
                        <div class="collapse navbar-collapse mt-3 mt-lg-0 justify-content-center" id="navbar-content">
                            <ul class="navbar-nav text-start text-lg-center align-items-start align-tems-lg-center mb-lg-0">
                                <li class="nav-item mx-4">
                                    <a class="nav-link {% if request.path == '/' %}active{% endif %} py-md-2 py-lg-0" href="{% url 'home' %}">Home</a>
                                </li>

                                <!-- Full width dropdown link to categorised product pages | Credit to https://github.com/mdbootstrap/bootstrap-mega-menu for Mega Menu code -->
                                <li class="nav-item dropdown position-static mx-4">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-split {% if products_url in request.path %}active{% endif %} py-md-2 py-lg-0" data-bs-display="static" href="#" id="navbarDropdownProducts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Products
                                    </a>

                                    <div class="products-dropdown-menu dropdown-menu w-100 p-4 mt-0 border-0 shadow-sm" aria-labelledby="navbarDropdownProducts" data-bs-popper="static">
                                        <div class="d-lg-none mb-3 pb-2 border-bottom d-flex align-items-center justify-content-between">
                                            <button type="button" class="btn btn-link p-0 text-decoration-none text-dark fw-bold" id="closeProductsMobile">
                                                <i class="fa-solid fa-angles-left"></i> Back to Menu
                                            </button>
                                        </div>
                                        
                                        <div class="container-fluid">
                                            <div class="row text-center text-lg-start justify-content-center">

                                                <!-- Main Links -->
                                                <div class="col-6 col-lg-2 mx-lg-5">
                                                    <h6 class="dropdown-header px-0 d-none d-lg-block">&nbsp;</h6>
                                                    <ul class="ps-0 ps-lg-2">
                                                        <a class="dropdown-item px-0 py-1 d-block" href="{% url 'products' %}">All Products</a>
                                                        <a class="dropdown-item px-0 py-1 text-danger d-block" href="{% url 'products' %}?clearance=true">Clearance Items</a>
                                                        <a class="dropdown-item px-0 py-1 d-block" href="{% url 'products' %}?most_popular=true">Most Popular</a>
                                                    </ul>
                                                </div>
                                            
                                                <!-- Column 1: Core Varieties -->
                                                <div class="col-6 col-lg-3 mb-3 mb-lg-0">
                                                    <h6 class="dropdown-header px-0 text-decoration-underline">Core Varieties</h6>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=traditional">Traditional Meads</a>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=melomel">Melomel (Fruit)</a>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=metheglin">Metheglin (Spiced)</a>
                                                </div>
                                            
                                                <!-- Column 2: Specialty Blends -->
                                                <div class="col-6 col-lg-3 mb-3 mb-lg-0">
                                                    <h6 class="dropdown-header px-0 text-decoration-underline">Specialty Blends</h6>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=cyser">Cyser (Apple)</a>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=pyment">Pyment (Grape)</a>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=braggot">Braggot (Malt/Ale)</a>
                                                </div>
                                            
                                                <!-- Column 3: Small Batch & Extras -->
                                                <div class="col-6 col-lg-3 mb-3 mb-lg-0">
                                                    <h6 class="dropdown-header px-0 text-decoration-underline">Small Batch & Wares</h6>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=capsicumel">Capsicumel (Chilli)</a>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=hydromel">Hydromel (Light)</a>
                                                    <a class="dropdown-item px-0 py-1" href="{% url 'products' %}?category=acerglyn">Acerglyn (Maple)</a>
                                                    <a class="dropdown-item px-0 py-1 mt-2" href="{% url 'products' %}?category=accessories">Accessories & Merchandise</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item mx-4">
                                    <a class="nav-link {% if request.path == sandbox_url %}active{% endif %} py-md-2 py-lg-0" href="{% url 'sandbox' %}">Flavour Sandbox</a>
                                </li>
                                <li class="nav-item mx-4">
                                    <a class="nav-link py-md-2 py-lg-0" href="{% if request.path == '/' %}#about-section{% else %}{% url 'home' %}#about-section{% endif %}">About</a>
                                </li>
                                {% if user.is_staff %}
                                    <li class="nav-item mx-4">
                                        <a class="nav-link {% if request.path == add_product_url %}active{% endif %} py-md-2 py-lg-0" href="#">Add Product</a> <!-- % url 'add_product' %} -->
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <!-- Logo in navbar -->
                    <div class="col-6 col-lg-auto order-2 order-lg-1 text-center text-lg-start navbar-logo px-0">
                        <a class="navbar-brand me-0" href="{% url 'home' %}">
                            <img src="{% static 'images/brand-logo.png' %}" alt="logo">
                        </a>
                    </div>

                    <!-- Account and Basket -->
                    <div class="col-3 col-lg-auto order-3 d-flex align-items-center justify-content-end" id="account-basket-section">
                        <div class="d-inline-flex flex-row align-items-center gap-3">

                            <!-- Account Dropdown -->
                            <div class="dropdown">
                                <button class="btn p-0 border-0 dropdown-toggle dropdown-toggle-split" type="button" id="navbarDropdownAccounts" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-regular fa-user"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-end pt-3 mt-3" aria-labelledby="navbarDropdownAccounts">
                                    {% if user.is_authenticated %}
                                        <li class="mx-4"><h3 class="dropdown-header">Welcome, {{ user.username }}!</h3></li>
                                        <li class="mx-4"><hr></li>
                                        
                                        {% if user.is_staff %} <!-- Show admin link if user is staff -->
                                            <li class="mx-4"><a class="dropdown-item pb-2" href="{% url 'admin:index' %}">Admin Dashboard</a></li>
                                        {% endif %}

                                        <li class="mx-4"><a class="dropdown-item pb-2 {% if request.path == profile_url %}active{% endif %}" href="#">Account</a></li> <!-- % url 'profile' %} -->
                                        <li class="mx-4"><a class="dropdown-item pb-2 {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}">Log Out</a></li> 
                                    {% else %}
                                        <li class="mx-4"><a class="dropdown-item pb-2 {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}" >Log In</a></li>
                                        <li class="mx-4"><a class="dropdown-item pb-2 {% if request.path == signup_url %}active{% endif %}" href="{% url 'account_signup' %}">Register</a></li>
                                    {% endif %}
                                </ul>
                            </div>

                            <!-- Basket Link -->
                            <div class="position-relative d-inline-flex flex-column align-items-center">
                                <a href="#" class="text-decoration-none text-center d-flex flex-column align-items-center"> <!-- % url 'basket' %} -->
                                    <i class="fa-solid fa-basket-shopping {% if request.path == basket_url %}active{% endif %}"></i>
                                    <span class="position-absolute start-50 translate-middle-x my-0 text-nowrap">
                                        {% if grand_total %}
                                            ${{ grand_total |floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </span> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Displaying Django messages -->
        <div class="container message-alert">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="msg">
                            {{ message | safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <main>

        {% block content %}

        <!-- Page-specific content will be inserted here -->

        {% endblock %}

    </main>

    <!--Footer-->
    <footer class="container-fluid overflow-hidden pt-4 pb-5">
        <div class="row footer-sections text-center g-3 gy-4 align-items-center">

            <!-- Contact Developer modal trigger -->
            <div class="col-6 col-lg-4 d-flex justify-content-center align-items-center">
                <a class="modal-btn mb-0" href="#" data-bs-toggle="modal" data-bs-target="#contactModal">
                    <p class="mb-0 d-inline-block">Contact Óðrerir Meadery</p>
                </a>
            </div>

            <!-- Contact Developer Modal -->
            <div class="modal fade send-raven-modal" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-header justify-content-center position-relative">
                            <h2 class="modal-title" id="contactModalLabel">Contact Óðrerir Meadery</h2>
                            <button type="button" class="btn-close position-absolute end-0 me-1" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <!-- Contact form content -->
                             <!-- <form id="contactForm" method="post" action="% url 'contact_developer' %}" class="{% if not user.is_authenticated %}guest-view{% endif %}">
                                {% csrf_token %}
                                <div class="mb-3 w-75 mx-auto">
                                    <textarea name="message" class="form-control text-center" placeholder="Your Message" required></textarea>
                                </div>

                                <div class="d-flex justify-content-between mt-4">
                                    <button type="button" class="btn send-raven-btn mx-3" data-bs-dismiss="modal">Close</button>
                                    {% if user.is_authenticated %}
                                        <button type="submit" class="btn send-raven-btn mx-2">Send Message<i class="fa-solid fa-paper-plane"></i></button>
                                    {% else %}
                                        <a href="{% url 'account_login' %}" class="btn send-raven-btn mx-2">Sign In to Send Message</a>
                                    {% endif %}
                                </div>
                             </form> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Social Links -->
            <div class="col-6 col-lg-4 social-link d-flex justify-content-center align-self-center"> <!-- As this is a conceptual company, there is no specific social links currently and all links are to the social sites landing page -->
                <a class="px-2 d-inline-flex align-items-center" href="https://www.facebook.com/" target="_blank" aria-label="Facebook link"><i class="fa-brands fa-facebook align-middle"></i></a>
                <a class="px-2 d-inline-flex align-items-center" href="https://www.instagram.com/" target="_blank" aria-label="Instagram link"><i class="fa-brands fa-instagram align-middle"></i></a>
                <a class="px-2 d-inline-flex align-items-center" href="https://www.tiktok.com/" target="_blank" aria-label="TikTok link"><i class="fa-brands fa-tiktok align-middle"></i></a>
            </div>

            <!-- Policy Modals & Payment Icons -->
            <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center position-relative">
                <div class="d-inline-flex flex-column align-items-end position-relative">

                    <!-- Policy Links-->
                    <div class="d-flex gap-4 justify-content-center w-100">
                        <a class="modal-btn" href="#" data-bs-toggle="modal" data-bs-target="#returnsPolicy">Returns Policy</a>
                        <a class="modal-btn" href="#" data-bs-toggle="modal" data-bs-target="#deliveryPolicy">Delivery Policy</a>
                    </div>

                    <!-- Stripe Payment Icons -->
                    <div class="stripe-icons d-flex gap-2 justify-content-center justify-content-lg-end w-100 position-absolute top-100 start-0 pt-3">
                        <i class="fa-brands fa-cc-stripe"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>

                <!-- Returns Policy Modal-->
                <div class="modal fade" id="returnsPolicy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="returnsPolicyLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="returnsPolicyLabel">Returns Policy</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Delivery Policy Modal-->
                <div class="modal fade" id="deliveryPolicy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deliveryPolicyLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deliveryPolicyLabel">Delivery Policy</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>

    {% block postloadjs %}
    {% endblock %}

</body>
</html>