<div class="toast {{ message.tags }}">
    <div class="toast-content">
        <div class="toast-header-wrapper">
            <div class="message">
                <i class="fa-solid fa-circle-check toast-icon"></i>
                <span class="message-text text-1">Success!</span>
                <span class="message-text text-2">{{ message }}</span>
            </div>
        </div>

        {% if grand_total and request.resolver_match.url_name != 'checkout_success' and request.resolver_match.url_name != 'profile' and '/sandbox/' not in request.path %}
            <p class="py-1 toast-basket-title">Your Basket ({{ product_count }})</p>

            <div class="basket-notification-wrapper">
                {% for item in basket_items %}
                    <div class="basket-item-row">
                        <div class="basket-img-col">
                            <img src="{{ item.product.get_image_url }}" alt="{{ item.product.get_image_alt }}" class="img-fluid rounded">
                        </div>
                        <div class="basket-details-col">
                            <h6>{{ item.product.name }}</h6>
                            {% if item.volume %}
                                <p>Vol: {{ item.volume }}</p>
                            {% endif %}
                            <p>Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr class="toast-hr">
                    {% endif %}
                {% endfor %}

                <div class="toast-totals-section">
                    <p class="toast-total">Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:<span class="float-end">£{{ total|floatformat:2 }}</span></p>

                    {% if free_delivery_delta > 0 %}
                        <p class="free-delivery-msg">Spend <span class="toast-total">£{{ free_delivery_delta }}</span> more to get free delivery!</p>
                    {% endif %}

                    <a href="{% url 'basket' %}" class="btn w-100 mt-2">
                        <span>Go to Basket</span>
                        <span><i class="fa-solid fa-basket-shopping ms-1"></i></span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <i class="fa-solid fa-xmark close"></i>
    <div class="progress"></div>
</div>
